---
import FieldsForCrypt from "@/components/FieldsForCrypt.astro";
import Layout from "@/Layouts/Layout.astro";
---

<Layout
  title="Cryptor | Descencriptación"
  description="Encrypta y descencripta datos con diferentes algoritmos"
>
  <FieldsForCrypt
    textTitle="Texto que desea descencriptar" >
    <button id="decrypt" slot="actions" class="bg-blue-500 text-white px-4 py-2 w-full rounded">Descencriptar</button>
  </FieldsForCrypt>
</Layout>

<script>
  const $submit = document.getElementById("decrypt") as HTMLButtonElement;
  const $password = document.getElementById("password") as HTMLInputElement;
  const $input = document.getElementById("input") as HTMLInputElement;
  const $msgData = document.getElementById("message-data") as HTMLInputElement;
  const $msgPass = document.getElementById("message-passw") as HTMLInputElement;
  const $result = document.getElementById("result") as HTMLDivElement;
  const $data = $result.querySelector('#data-result') as HTMLTextAreaElement

  $submit.addEventListener("click", () => {
    if (!$password.value || !$input.value) {
      $msgPass.innerHTML = !$password.value ? "Ingresa una contraseña" : "";
      $msgData.innerHTML = !$input.value ? "Ingresa un texto para encriptarlo" : "";
      return
    }

    $result.classList.remove("h-0", "opacity-0", 'invisible')
    $result.classList.add("opacity-100")
  
    fetch("/decrypt", {
      method: "POST",
      body: JSON.stringify({
        algorithm: "aes-256-cbc",
        password: $password.value,
        data: $input.value
      })
    })
      .then(res => res.json())
      .then(res => {
        const { result, error } = res
        if (error) {
          $data.classList.remove("bg-blue-500/15", "text-blue-500")
          $data.classList.add("bg-red-500/15", "text-red-500")
          $data.innerHTML = error
          return
        }

        if ($data.classList.contains("bg-red-500/15")) {
          $data.classList.remove("bg-red-500/15", "text-red-500")
          $data.classList.add("bg-blue-500/15", "text-blue-500")
        }

        $data.innerHTML = result
      })
  })
</script>