---
import { Image } from "astro:assets";
---

<div class="flex gap-1 items-center justify-center mb-12">
  <picture class="">
    <Image width={126} height={126} src="/favicon.svg" alt="Crytor" />
  </picture>
  <h1 class="text-white text-6xl">Cryptor</h1>
</div>